div.pagination {
    margin-left: 170px;
    min-width: 750px;

}

.pagination ul {
    display: inline-block;
}

.pagination li {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    margin: 0 4px;
    list-style: none;
    cursor: pointer;
}

.pagination li:hover:not(.active) {background-color: #ddd;}

.active-class {
    border: 1px solid black; !important;
    color: white; !important;
}
